<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.example.demo.coin.Mapper.TickerMapper">

    <insert id="insertTicker" parameterType="java.util.List">
    INSERT INTO coin_ticker (
        symbol, priceChange, priceChangePercent, weightedAvgPrice, prevClosePrice,
        lastPrice, lastQty, bidPrice, bidQty, askPrice, askQty, openPrice,
        highPrice, lowPrice, volume, quoteVolume, openTime, closeTime,
        firstId, lastId, count,regDtm
    )
    VALUES
        <foreach collection="list" item="item" separator=",">
        (#{item.symbol}, #{item.priceChange}, #{item.priceChangePercent}, #{item.weightedAvgPrice}, #{item.prevClosePrice},
        #{item.lastPrice}, #{item.lastQty}, #{item.bidPrice}, #{item.bidQty}, #{item.askPrice}, #{item.askQty}, #{item.openPrice},
        #{item.highPrice}, #{item.lowPrice}, #{item.volume}, #{item.quoteVolume}, #{item.openTime}, #{item.closeTime},
        #{item.firstId}, #{item.lastId}, #{item.count},now())
        </foreach>

    </insert>

    <delete id="deleteTicker">
    delete from coin_ticker;
    </delete>

     <select id="selectTickerVos" resultType="com.example.demo.BinanceService.ticker.Vo.TickerVo">
        SELECT
            symbol
        FROM
            coin_ticker
        where symbol not in('USDCUSDT','BUSDUSDT','BNBUSDT','FDUSDUSDT','TUSDUSDT') -- 스테이블코인 제외(구분값이 없음)
        ORDER BY
            weightedavgprice::numeric  * volume::numeric desc
        LIMIT 60;

    </select>




</mapper>


